section
{
  width: 400px;
  height: 400px;
  margin: 20px;
  float: left;
}
#yksi
{
  background-color: red;
}
#kaksi
{
  background-color: green;
}
#kolme
{
  background-color: orange;
}
#nelja
{
  background-color: yellow;
}
#viisi
{
  background-color: lightblue;
}

p, h1, button, select
{
  margin-left: 20px;
}
